{% extends 'admin_base.html' %}
{% block content %}
{% load static %}

<div class="container mx-auto">
  <div class="bg-white shadow-md rounded my-6">
    <div class="border-b p-4">
      <h2 class="text-center text-2xl font-bold">Patients</h2>
      <form method="GET" class="mt-4">
        <input type="text" name="search" placeholder="Search..." class="px-4 py-2 rounded-md border-gray-300 focus:outline-none focus:ring focus:border-blue-300">
        <select name="status" class="px-4 py-2 rounded-md border-gray-300 focus:outline-none focus:ring focus:border-blue-300">
          <option value="">All</option>
          <option value="admitted">Admitted</option>
          <option value="discharged">Discharged</option>
        </select>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Apply Filters</button>
      </form>
    </div>
    <table class="min-w-full">
      <thead>
        <tr>
          <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 tracking-wider">Name</th>
          <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 tracking-wider">Profile Picture</th>
          <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 tracking-wider">Symptoms</th>
          <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 tracking-wider">Contact</th>
          <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 tracking-wider">Address</th>
          <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 tracking-wider">Update</th> 
        </tr>
      </thead>
      <tbody>
        {% for p in patients %}
        <tr>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
            {{ p.get_name }}
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
            <img src="{% static p.profile_pic.url %}" alt="Profile Pic" class="h-10 w-10 rounded-full" />
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
            {{ p.symptoms }}
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
            {{ p.mobile }}
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
            {{ p.address }}
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
            <a href="{% url 'update-patient' p.id  %}" class="text-blue-500 hover:text-blue-700">Update</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
